<div>
  <h2>Add Education</h2>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
 <input type="text" formControlName="employeid" placeholder="enter valid employe id">
 <br>
 <input type="text" formControlName="level" placeholder="enter Level">
 <br>
 <input type="text" formControlName="graduated_year" placeholder="Year of graduated">
 <br>
 <input type="text" formControlName="institute" placeholder="Name of Institute">
 <br>
 <input type="text" formControlName="gpa" placeholder="GPA">

 <input type="submit" value="Submit" />
  </form>
</div>
