<div style="padding-left: 10%;">
  <h2>Add Experience</h2>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
      <div>
      <ng-container  >
          <mat-form-field style="padding-right: 13px;" >
              <mat-label>Employee ID</mat-label>
              <input matInput formControlName="EmployeeId" placeholder="enter employee id">
            </mat-form-field>
         </ng-container>



             <ng-container >
              <mat-form-field style="padding-right: 13px;">
                  <mat-label>Year</mat-label>
                  <input matInput formControlName="Year" [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
             </ng-container>
              </div>

              <div>
                  <ng-container >
                      <mat-form-field style="padding-right: 13px;">
                          <mat-label >Salary</mat-label>
                          <input matInput formControlName="Salary" placeholder="ente Salary">
                        </mat-form-field>
                     </ng-container>
                      <ng-container >
                          <mat-form-field style="padding-right: 13px;">
                              <mat-label>Position</mat-label>
                              <input matInput formControlName="Position" placeholder="enter Position">
                            </mat-form-field>
                         </ng-container>
                          <ng-container >
                              <mat-form-field style="padding-right: 13px;">
                                  <mat-label>Company</mat-label>
                                  <input matInput formControlName="Company" placeholder="enter Company">
                                </mat-form-field>
                             </ng-container>

                             <ng-container >
                              <mat-form-field style="padding-right: 13px;">
                                  <mat-label>ResignReason</mat-label>
                                  <input matInput formControlName="ResignReason" placeholder="enter ResignReason">
                                </mat-form-field>
                             </ng-container>

                             <ng-container >
                              <mat-form-field style="padding-right: 13px;">
                                  <mat-label>Remark</mat-label>
                                  <input matInput formControlName="Remark" placeholder="enter Remark">
                                </mat-form-field>
                             </ng-container>



                          </div>


 <input type="submit"  class="bg-blue-400 rounded text-gray-50 hover:bg-indigo-300 w-40 h-6" value="Submit" />
  </form>
</div>
