<p>position-add works!</p>
<div>
    <h1>Add Position</h1>
<form  [formGroup]="forms" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name" placeholder="enter name">
    <br>
    <br>
    <input type="text" formControlName="salary" placeholder="enter salary">
    <br>
    <br>
    <input type="text" formControlName="remark" placeholder="enter position">
    <br>
    <br>
    <input type="submit"  class="bg-blue-400 rounded text-gray-50 hover:bg-indigo-300 w-40" value="Submit" />
</form>

</div>